@media(max-width: 995px) {
  .area-para-desktop {
    display: none;
  }
}
@media(max-width: 600px) {
  .swiper-button-prev, 
  .swiper-button-next {
    display: none!important;
  }
}
@media(min-width: 600px) {
  .dashboard-content-ul > li:nth-child(odd) {
    clear: both;
    float: left;
    width: 50%;
  }
}
